<div class="container">
  <div class="row">
    <div class=" col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <h1>ログイン</h1>
      <% form_with model: @user, local: true do |f| %>
        <div class="form-group">
          <%= f.label :email, 'Email' %>
          <%= f.text_field :email, name: 'email', id: 'email', class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :password, 'Password' %>
          <%= f.password_field :password, class: "form-control", id: 'password' %>
        </div>
         <div class="actions">
          <%= f.submit "登録", value: 'ログイン', class: "btn btn-primary" %>
        </div>
      <% end %>
      <form>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" name="email" id="email" value="" class="form-control" />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" value="" class="form-control" /> </div>
        <div class="actions">
          <input type="submit" value="ログイン" class="btn btn-primary" />
        </div>
      </form>
      <div class='text-center'>
        <a href="/users/new">登録ページへ</a>
        <a href="#">パスワードをお忘れの方はこちら</a>
      </div>
    </div>
  </div>
</div>
